.main_box{
    display: inline-flex;
    flex-wrap: wrap;
    place-content: center space-evenly;
    margin: auto;
    border: 4px solid rgba(200, 255, 0, 0);
    border-radius: 8px;
    width: 99%;
    height: 97%;
}

/* SIDE A */

.login-form1{
    margin: 5vw auto;
    margin-inline: 1vw;
    border-radius: 12px;
    border: 0px solid rgb(12, 129, 32);
    width: 400px;
    height: 410px;
    outline: none;
    position: relative;
}

.logo1{
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    border-radius: 20px;
}

.text{
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 20px;
    margin-top: -20px;
    font-size: 36px;
    font-weight: lighter;
    color: rgb(110, 60, 12);
    text-align: justify;
    
}


.terms_conditions{
    margin-left: 20px;
    border: 0px solid red;
    text-align: justify;
    font-size: 11px;
    position: absolute; 
    bottom: 1%; 
    width: 86.5%; 
}




/* SIDE B */

.login-form{
    margin: 5vw auto;
    margin-inline: 1vw;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 90, 0, 0.3);
    width: 400px;
    height: 410px;
    background-color: rgb(255, 255, 255);
    outline: none;
}



.form_div_a{    
    margin: 7px;
    background-color: rgb(245, 245, 245);
    border-radius: 9px;
    width: 386px;
    height: 396px;
    border: none;
}

.label_email{
    padding-inline: 10px;
    padding-top: 10px;
    background-color: rgba(158, 158, 158, 0);
    font-size: 18px;
}

.label_senha{
    padding-inline: 10px;
    padding-top: 10px;
    background-color: rgba(158, 158, 158, 0);
    font-size: 18px;
}





.inputs{
    margin: 4px;
    margin-inline: auto;
    display: block;
    border: 0.1px solid rgba(153, 153, 153, 0.3);
    border-radius: 8px;
    width: 90.2%;
    padding: 15px 10px;
    font-size: 15px;
}

input:focus-within{
    outline: 2px solid rgb(110, 60, 12);
}

.line{
    margin: 20px;
    border-top: 0.1px solid rgb(230, 230, 230) ;
    width: 90%;
    border-left: none;
}


.s_button{
    display: block;
    margin: 20px;
    margin-inline: auto;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    cursor: pointer;
    background-color: rgb(0, 90, 0);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px #222222;
    transition: 0.2s ;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


.login_button{
    width: 80%;
    padding: 10px 0px;
    background-color: rgb(0, 90, 0);
}

.login_button:hover{
    background-color: rgb(0, 120, 0);
    box-shadow: 1px 1px 5px #222222;
    transform: scale(1.03);

}

.login_button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 90, 0);
    box-shadow: inset 1px 1px 2px #000000;
    transform: translateY(2px);
    
}


.pass_recover{
    text-align: center;
}



.register_button{
    background-color: rgb(110, 60, 12);
    width: 40%;
    padding: 10px 0px;
}

.register_button:hover{
    background-color: rgb(128, 70, 18);
    transform: scale(1.08);
    box-shadow: 2px 2px 6px #222222;
}

.register_button:active{
    background-color: rgb(255, 255, 255);
    color: rgb(110, 60, 12);
    box-shadow: inset 1px 1px 3px #222222;
    transform: translateY(1px);
}


a{
    color: rgb(0, 90, 0);
    text-decoration: none;
}

p > a:hover{
    text-decoration: underline rgb(0, 90, 0);
    
}